.metadata/
logistikapp/.settings
logistikapp/build
logistikapp/.classpath
logistikapp-user/bin
logistikapp-user/.settings
logistikapp-user/.classpath
logistikapp-user/.project
logistikapp-user-notification/.classpath
logistikapp-user-notification/.project
logistikapp-supplier/bin
logistikapp-commercial/.settings
logistikapp-commercial/bin
logistikapp-commercial/.classpath
logistikapp-commercial/.project
logistikapp-financial/.settings
logistikapp-financial/bin
logistikapp-financial/.classpath
logistikapp-financial/.project
Servers
*.bak
*.orig
RemoteSystemsTempFiles
*.war
