<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- ===================== DEFINICIONES GENERALES ======================== -->

	<!-- ========================== DEFINICION DE DAOS ============================== -->



	<!-- ========================== DEFINICION DE BEANS ============================== -->
	<bean id="ManagerUserServiceBean"
		class="com.retailsbs.logistikapp.manager.user.impl.ManagerUserServiceImpl">
		<property name="userservice" ref="UserServiceBean"/>
        <property name="supplierservice" ref="SupplierServiceBean"/>
        <property name="retailservice" ref="RetailServiceBean" />
	</bean>

</beans>